<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Binary Upload Boom</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/imgs/favicon-32x32.png"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/css/style.css" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
    //alert('Document is ready');
            $('#model').change(function() {
                var sel = $(this).val();
                if (sel == 'model2' || sel == 'model3') $('input[name=extra]').show();
            });

            $('input[name=btn_submit]').click(function() {
                var sel = $('#model').val();
                if (sel == 'model2' || sel == 'model3') {
                    if ($('input[name=extra]').val() == '') {
                        alert('Please complete all fields');
                        return false; //prevent submit from submitting
                    }else{
                        alert('Your entry was submitted');
                    }
                }else{
                    //Model is NOT 2 or 3 so don't check
                    alert('Your entry was submitted without checking input field value.');
                }
            });
        });
    </script>
  </head>
  <body>
    <header class="container">
      <div class="text-center">
        <h1 class=""><a href="/profile">Catlog</a></h1>
        <span>Adopt | Foster | Support</span>
      </div>
    </header>
  </body>
</html>


