<%- include('partials/header') -%>

    <div class="hero h-screen bg-base-200">
        <div class="hero-overlay bg-opacity-20"></div>
        <div class="text-center hero-content">
          <div class="max-w-md">
            <a href="https://bitian-zhang-namecard.netlify.app/">
                <h1 class="mb-6 text-5xl font-bold">
                    Bitian Zhang
                </h1> 
            </a>

            <p class="my-3 text-4xl">
                <a href="https://bzzz-coding.netlify.app/">Portfolio</a>
            </p>

            <p class="my-3 text-4xl">
                <a href="https://github.com/bzzz-coding"><i class="fa-brands fa-github"></i></a> | <a href="https://www.linkedin.com/in/bitian-zhang/"><i class="fa-brands fa-linkedin"></i></a> | <a href="https://twitter.com/Bzzz_coding"><i class="fa-brands fa-square-twitter"></i></a>
            </p>

            
            
           

            <!-- <a href="/login" class="btn btn-neutral"> Login</a>
            <a href="/signup" class="btn btn-neutral"> Signup</a>
            <a href="/feed" class="btn btn-neutral"> Cuteness Express</a> -->
          </div>
        </div>
      </div>
    <div class="hero bg-base-200">

    <!-- <header class="container">
        <div class="container m-3">
            <label class="switch">
                <input id="theme-toggle" type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>
    </header>

    <div class="container text-center mb-6">
        <div class="container">
            <a href="/feed">
                <h1 class="text-5xl font-bold mb-4">Catlog Testing</h1>
            </a>
            <span class="m-6">Adopt | Foster | Support</span>
        </div>
    </div>
    <main class="container p-6">
        <div class="mx-auto flex justify-between items-center ">
            <a href="/login" class="col-3 btn btn-secondary"> Login</a>
            <a href="/signup" class="col-3 btn btn-secondary"> Signup</a>
        </div>
    </main> -->


<%- include('partials/footer') -%>