<%- include('partials/header') -%>

<main class="container">
    <div class="mx-auto flex justify-between items-center">
        <a href="/login" class="col-3 btn btn-secondary"> Login</a>
        <a href="/signup" class="col-3 btn btn-secondary"> Signup</a>
    </div>
</main>
    

<%- include('partials/footer') -%>