<%- include('partials/header') -%>
    <main class="">
      <section class="container max-w-md mx-auto mt-6 content-center">
          <% if (locals.messages.errors) { %>
              <% messages.errors.forEach( el => { %>
                  <div class="alert alert-danger"><%= el.msg %></div>
              <% }) %>    
          <% } %>
          <% if (locals.messages.info) { %>
              <% messages.info.forEach( el => { %>
                  <div class="alert alert-info"><%= el.msg %></div>
              <% }) %>    
          <% } %>
          <form action="/signup" method="POST">
            <div class="form-control mx-auto">
              <label class="label">
                <span class="label-text">Name</span>
              </label> 
              <input type="text" name="userName" placeholder="name" class="input input-primary input-bordered">
            </div> 
            <div class="form-control mx-auto">
              <label class="label">
                <span class="label-text">Email</span>
              </label> 
              <input type="email" name="email" placeholder="email" class="input input-primary input-bordered">
            </div> 
            <div class="form-control">
              <label class="label">
                <span class="label-text">Password</span>
              </label> 
              <input type="password" name="password" placeholder="password" class="input input-primary input-bordered">
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">Password</span>
              </label> 
              <input type="password" name="confirmPassword" placeholder="confirm password" class="input input-primary input-bordered">
            </div>
            <div class="container flex flex-row-reverse">
              <a href="/index" class="btn btn-outline btn-primary m-3">Cancel</a>
              <button type="submit" class="btn btn-primary mt-3 mx-1">Submit</button>
            </div> 
          </form>
          
      </section>
    </main>

<%- include('partials/footer') -%>